<div class="row">
  <div class="col-4 ">
    <div class="circle bg-warning">
      <div class="card m-auto">
        <img src="assets/images.jpg" alt="">
      </div>

    </div>
  </div>
  <div class="col-5">
    <app-user-book-details></app-user-book-details>
  </div>
  <div class="col-3  card books">
    <div class="row pt-5 pb-5">

      <div class="content col-12">
        <div class="row justify-content-center">
          <div class="col-5 card book-img">
            <a href="">
              <img src="assets/images.jpg" alt="" >
            </a>
          </div>
          <div class="col-5">
            <h5>Oliver Twist</h5>
            <h6>By Jan Holes</h6>
          </div>
        </div>
        </div>


        <div class="content col-12">
          <div class="row justify-content-center">
            <div class="col-5 card book-img">
              <a href="">
                <img src="assets/images (2).jpg" alt="">
              </a>
            </div>
            <div class="col-5">
              <h5>Oliver Twist</h5>
              <h6>By Jan Holes</h6>
            </div>
          </div>
          </div>



          <div class="content col-12">
            <div class="row justify-content-center">
              <div class="col-5 card book-img">
                <a href="">
                  <img src="assets/images (1).jpg" alt="">
                </a>
              </div>
              <div class="col-5">
                <h5>Oliver Twist</h5>
                <h6>By Jan Holes</h6>
              </div>
            </div>
            </div>



      </div>


  </div>
</div>
