*{
  margin: 0;
  padding:0;
}

.title
{
  background-color: #2c3344;
}

.title h2
{
  padding: 2% 2% 4% 2%;
  font-weight: 700;
  font-size: 35px;
}

.content-page
{
  box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
  height: 75vh;
  width: 96%;
  position: absolute;
  top:73%;
  left: 2%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: auto;
}
