
  <div class="row container m-auto justify-content-center ">

    <h2 class="text-center mt-5 mb-3 title">Categories</h2>

    <div class="col-lg-2  col-md-4 col-5 card m-3 mt-4 ">
      <div class="card-1 card">
        <div class="card-1 card">
          <div class="card-1 card ">
            <div class="card-1 card">
              <div class="card-1  card-2 card">
                <h2>The Fifth Second</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-2  col-md-4 col-5 card m-3 mt-4 ">
      <div class="card-1 card">
        <div class="card-1 card">
          <div class="card-1 card ">
            <div class="card-1 card">
              <div class="card-1  card-2 card">
                <h2>The Fifth Second</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-2  col-md-4 col-5 card m-3 mt-4 ">
      <div class="card-1 card">
        <div class="card-1 card">
          <div class="card-1 card ">
            <div class="card-1 card">
              <div class="card-1  card-2 card">
                <h2>The Fifth Second</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-2  col-md-4 col-5 card m-3 mt-4 ">
      <div class="card-1 card">
        <div class="card-1 card">
          <div class="card-1 card ">
            <div class="card-1 card">
              <div class="card-1  card-2 card">
                <h2>The Fifth Second</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2  col-md-4 col-5 card m-3 mt-4 ">
      <div class="card-1 card">
        <div class="card-1 card">
          <div class="card-1 card ">
            <div class="card-1 card">
              <div class="card-1  card-2 card">
                <h2>The Fifth Second</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




