*{
  padding:0;
  margin: 0;
}

.card
{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  height: 45vh;
}

.card-1
{
  border: 2px #2c3344 solid;
  padding-right: 1%;
  border-left: 0;
  border-top: 0;
  box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 0%);
  background-color:#94a3b8;

}

.card h2
{
  padding-left: 28%;
  margin-top: 25%;
  //color:rgb(174, 135, 55);
  color:#2c3344;
  text-align: start;
  font-weight: 500;
  font-size: 2.5rem;
  word-spacing:52px;
}


.title
{
  font-weight: 700;
  font-size: 40px;
  color:#2c3344;
}
