<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <i class="fa-solid fa-bars"></i>
  </a>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"    data-bs-toggle="dropdown" aria-expanded="false">
      <img src="assets/images (3).jpg" alt=""><span> User Name</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#" style="color:#18AF9A;">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout</a></li>
    </ul>

</div>
  </div>
</nav>
