
<div class="container mt-5">
  <table class="table text-center m-auto">
    <thead style=" background-color: #18AF9A;">
      <tr>
        <th colspan="6" style=" background-color: rgb(237, 237, 237);">
          <button class="btn add"><i class="fa-sharp fa-solid fa-circle-plus"></i></button>
        </th>
        </tr>
      <tr class="text-white">
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Book1</td>
        <td>
          <button class="btn "><i class="fa fa-trash text-danger"></i></button>
          <button class="btn"><i class="fa fa-edit text-primary"></i></button>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Book1</td>
        <td>
          <button class="btn "><i class="fa fa-trash text-danger"></i></button>
          <button class="btn"><i class="fa fa-edit text-primary"></i></button>
        </td>
      </tr>


      <tr>
        <td>1</td>
        <td>Book1</td>
        <td>
          <button class="btn "><i class="fa fa-trash text-danger"></i></button>
          <button class="btn"><i class="fa fa-edit text-primary"></i></button>
        </td>
      </tr>


      <tr>
        <td>1</td>
        <td>Book1</td>
        <td>
          <button class="btn "><i class="fa fa-trash text-danger"></i></button>
          <button class="btn"><i class="fa fa-edit text-primary"></i></button>
        </td>
      </tr>

      <tr>
        <td>1</td>
        <td>Book1</td>
        <td>
          <button class="btn "><i class="fa fa-trash text-danger"></i></button>
          <button class="btn"><i class="fa fa-edit text-primary"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

