<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand mx-4" href="#">
      <h2>GoodReads</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Categories</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Authors</a>
        </li>

      </ul>


        <div class="input-group w-25 search">
          <button class="input-group-text" id="inputGroupPrepend">
            <i class="fa-solid fa-magnifying-glass"></i></button>
          <input class="form-control me-2" type="search" placeholder="Search" aria-describedby="inputGroupPrepend" aria-label="Search">
        </div>

        <div class="dropdown">
          <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1"    data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images (3).jpg" alt=""><span> User Name</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" style="color:#18AF9A;">
              <i class="fa-solid fa-right-from-bracket"></i>
              Logout</a></li>
          </ul>

      </div>


    </div>
  </div>
</nav>
